#settingsPanel

	span.fa.fa-close#closeSettings

	.settingsWrap
		h3 Modo de Historia
		hr
		p Este modo habilita un paseo paso a paso a través del proceso de invocación.
		p Habilita este modo si eres nuevo ene sta aplicación. 

		br
		br
		p 
			span El modo Historia está 
			span#storyStatus.storyOn Habilitado
		p
			button(type="button")#disableStoryMode Desabilitar
			span &nbsp;&nbsp;
			button(type="button" disabled="disabled")#enableStoryMode Habilitar
	
	.settingsWrap(hidden)
		h3 
			span Aprobaciones
			span#construction (Aun no funciona)
		hr
		p 
			span Las propuestas de transacciones deben ser aprobadas por un numero definido de pares para que sean satisfactorias. 
			span Ese número de aprobaciones va a ser decidido por las políticas de la red. 
			span Si eres nuevo en esta aplicación entonces selecciona el primer aprobador. 
		br
		br
		p Cada aprobador debajo va a recibir propuestas para la aprobación de transacciones.
		
		.settingPeersWrap
			p 
				span Aprobador 1
				input(type="text" placeholder="URL del Par" name="peer1").longer
				input(type="checkbox" name="peer1")

			p 
				span Aprobador 2
				input(type="text" placeholder="URL del Par" name="peer2").longer
				input(type="checkbox" name="peer2")

		p
			button(type="button" disabled="disabled") Adicionar Aprobador

	