#txStoryPanel

	span.fa.fa-close.closeTxStory#closeTxStoryPos

	//----------------- Step 1 Content
	.txStepWrap#txStep1.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Propuesta de construcción
		.txStoryWrap
			.marbleWrap
				div.ball#proposeMarbleStable.hideBorders.leftPos(title="Transacción de una canica")
				div.ball#proposeMarble.hideBorders.leftPos
				div.ball#marbleBorderTop.leftPos
				div.ball#marbleBorderBottom.leftPos
				div.ball#marbleBorderLeft.leftPos
				div.ball#marbleBorderRight.leftPos
		.txDescription
			span La invocación debe ser firmada y empacada como una propuesta. 
			span Esto se hace aquí en la aplicación actual. 

	//----------------- Step 2 Content
	.txStepWrap#txStep2.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Aprobación
		.txStoryWrap 
			.marbleWrap
				div.ball#endorseMarbleStable(title="Transacción de una canica")
					span.fa.fa-check
				div.ball#endorseMarble
					span.fa.fa-check
		.txDescription
			span Ahora, se envía una propuesta de transacción al próximo par para su aprobación. 
			span El par simula la transacción, verifica la propuesta, y luego la firma. 
			span Luego es enviada de vuelta a la aplicación actual.

	//----------------- Step 3 Content
	.txStepWrap#txStep3.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Ordenamiento
		.txStoryWrap
			#orderBoxStable 
				span.ball.ordererMarbles.hideMe(title="Otra transacción de canica")
					span.fa.fa-check
				span.ball.ordererMarbles.hideMe(title="Tu transacción de canica")
					span.fa.fa-check
				span.ball.ordererMarbles.hideMe(title="Otra transacción de canica")
					span.fa.fa-check
				#orderBox Bloque
		.txDescription
			span Luego las Canicas enviarán nuestra propuesta de aprobación al ordenador. 
			span Este va a establecer una secuencia de transacciones en la red de bloques, incluida la nuestra. 

	//----------------- Step 4 Content
	.txStepWrap#txStep4.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Validar & Commit
		.txStoryWrap 
			#commitBoxStable(title="Block")
				span.fa.fa-search
		.txDescription
			span El bloque que contiene nuestra transacción es enviado desde el ordenador hasta nuestro par. 
			span Finalmente este es validado por el par y guardado en el libro mayor público del par. 

	div
		.hint * Nota la velocidad de este proceso se ha reducido por propósitos demostrativos

	#txStoryErrorWrap 
		span.fa.fa-warning(style="fill: #000;")
		span#txStoryErrorTxt &nbsp;

	//----------------- All done
	.stepHelpWrap#doneTxStep
		h2 Invocación Completada
		br
		br
		button(type="button").closeTxStory Cerrar