#logo 
	//-- img(src="/imgs/logo.png")#logoIcon
	img(src="/imgs/innovasoftlogocanicas.png")#logoIcon
	span #{bag.marble_company}


#whoAmI
	span.fa.fa-user#userIcon
	span#userField Administrador
	span &nbsp;
	span.fa.fa-angle-down#carrot
	

	#userSelect
		#triangle
		a(href="/logout").userLine Cerrar Sesión
